@import "./node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Lato', Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #111111;
}
 h1, h2, h3, h4,h5, p{
    text-align: justify;
    text-justify: inter-word;
    font-weight: 800 !important;
    letter-spacing: -1px !important;
    font-family: 'Lato', Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";

  }

.container-fluid .img {
    max-width: 20% !important;
}

.container-fluid .article {
    max-width: 50%;
}

.container-fluid .img  img, img{
 display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    max-width: 275px;
}
main {
        max-width: 67%;    
}

article {
    max-width: 67%;
    padding: 2rem !important;
   
}
.tst .p-test {
    border: 2px solid black;
}




@media screen and (max-width: 700px) {
.container-fluid .img {
    display: none;
}
   .container-fluid .article, .main {
    max-width: 100%;
} 
}
